body{
     
  font-family: "Open Sans", sans-serif;
  margin:0;
  background-color: black;
  color: aliceblue;
  overflow: hidden;



}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;


}
.sidebar{
background-color: black;
width: 300px;
border-radius: 1rem;



}
.main-content{
    background-color: rgb(45, 42, 42);;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin-left: 0.5rem;
    padding: 0 1.5rem;
    height: 680px;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;

}
a{
    text-decoration: none;
    color: aliceblue;
}
.nav{
    background-color: rgb(45, 42, 42);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: .75;

}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: rgb(45, 42, 42);
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 555px;

    
}
.option{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 1rem;
    opacity: 0.7;

}
.lib-options{
    margin: 10px 0;
     font-size: 1rem;
   
    
}

.lib-options a{
    margin-left: 1rem;
}

.icons i{
    margin: 15px 7px;
    

}
.box{
    height: 8rem;
    background-color: rgb(79, 77, 74);
    border-radius: 0.75rem;
    margin: 1rem 0.5rem ;
    padding: 1rem 1.25rem;
}
.box1{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.rem;

}
.box2{
    font-size: 0.75rem;
    opacity: 0.9;
    margin-bottom: 0.5rem;
}
.bagde{
    border-radius: 1rem;
    font-weight: 700;
    background: white;
    padding: 0.25rem 1rem;
    margin-top:0.5rem;
    height: 2rem;
    width: fit-content;
   

}
 .btn{
      margin: 0.25rem;
    }
    .install{
        background-color: black;
        color: aliceblue;
    }
.sticky-nav{
    position: sticky;
    top: 0;
    background-color:rgb(45, 42, 42) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 ;
    z-index: 10;
}
.sticky-nav-icon{
    font-size: 1.5rem;
    margin-left: 0.5rem;

}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.sticky-nav-options .user{
    font-size: 1.25rem;
    margin-left: 10px;
}
@media (max-width: 1000px){
    .hide{
        display: none;
    }
}
.card-container{
    display: flex;
    flex-wrap: wrap;

}
.card-img{
    width: 100%;
    border-radius: .5rem;
}
.card-title{
    font-weight: 600;

  }
.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}
.card{
    background-color:rgb(65, 64, 64)  ;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.75rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.5;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;

}
.player{
    width: 50%;
}
.control{
    width: 25%;
}
.player-control{
    padding:  0 10rem;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.7;
}
.player-control:hover{
    opacity: 1;
}
.player-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px ;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin: -6px;
}