/* .face{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 80px;
    background-color: tomato;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 110px;
}
.eye1 , .eye2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 95px;
    top: 85px;

}
.eye2{
    left: 250px;

} */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main_box{
    background: url('6082375867205535179.jpg');
    height: 100vh;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left:16px;
    line-height: 60px;

}
.sidebar_menu{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}
.sidebar_menu .btn_two{
    color: bisque;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    right:5%;
    /* opacity: 0; */
}
.sidebar_menu .menu
{   position: absolute;
    color: aliceblue;
    width: 100%;
    top: 80px;

}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 15px 20px;
}

.sidebar_menu .menu i,a{
    color: aliceblue;
    text-decoration: none;
}
.sidebar_menu .menu i {
    padding-right: 10px;
}
.sidebar_menu .social_media{
   
    position: absolute;
    left: 25%;
    bottom: 30px;

}
.sidebar_menu .social_media i{
    color: aliceblue;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);

}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}
#check:checked ~ .sidebar_menu{
    left:0;
}