/* *{
    background-color: plum;
} */
 body{
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin-bottom: 8rem; */
    

 }
 .navbar{
    background-color: white;
 }
 .fa-compass  {
    color: tomato;
    font-size: 2rem;

 }
 .show-img{
    /* height: 30%; */
 }
 .nav-link{
    color: #222222;
 }
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    height: 10rem;
    /* flex-direction: column; */
    align-items: center;
    background-color: gray; 

    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    flex:1;
    padding: 1rem;
    font-size: 1.5rem;
    left: 0;

    width: 100%;
   
}
.top-index{
    display: flex;
    align-items: center;
    align-self: baseline;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}
.f-info-links{
    width: 100%;
font-size: 1.5rem;

  
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    color: #222222;
}
.f-info-socials a{
    color: #222222;
    margin: 0.5rem;
}
.card{
    border: none;
    /* margin: 0 1rem ; */
    /* height: 18rem; */
    
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    height: 18rem;
    object-fit: fill;
}
.listing_a{
    text-decoration: none;

}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: whitesmoke;
}
.btns{
    display: flex;
}
.btncol{
    background-color: tomato;
    
    color: aliceblue;
}
.btncol:hover{
    background-color:white ;
    color: tomato;
    outline: tomato;
    border: 1px solid;
}
.btncol:focus{
    background-color: rgb(158, 36, 15);
}
.btncol:active{
    background-color: rgb(158, 36, 15);
}
#map {
    width: 100%;
    height: 400px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#filters {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
}

.filters {
  text-align: center;
    flex: 0 0 auto;
  align-items: center;
  margin-right: 1rem;
  opacity: 0.7;

}

.filters:hover {
  opacity: 1;
  cursor: pointer;
}

.filters p {
  font-size: 0.8rem;
  margin: 0.25rem 0 0;
}

.top-index {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.tax-info {
  display: none;
}

.tax-toggle {
  outline: red;
  border: 1px solid ;
  border-radius: 1rem;
  color: red;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.form-switch :hover{
  cursor: pointer;
}

.d-flex {
  display: flex;
  right: 0;
  align-items: center;
  gap: 1rem;
  
}
.form-switch  :checked{
  background-color:tomato;
  border: white;
  

}
.form-check-input:not(:checked) {
  /* background-color: blue; */
  border-color: tomato;
}
.form-check-input[type="checkbox"]:not(:checked) {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='tomato'/%3e%3c/svg%3e");
}




@media (max-width: 1200px) {
  #filters {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
  }
  #filters::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

@media (max-width: 768px) {
  #filter{
     height: auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;

  }
  .d-flex {
    height: auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    margin-left: 1rem;

  }
  .btncol{
    height: auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;

  }
  .top-index {
  width: 90%;}
}